<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
	    <title>{{title}}</title>
	</head>
		
	<body>
        <div id="login-div" class="login-div">
            <section class="login-container">
                <div class="login">
                <h1>API Test Suite</h1>
                <form>
                    <input type="text" id="login-username-input" value="" placeholder="Username">
                    <input type="password" id="login-password-input" value="" placeholder="Password">
                    <input type="submit" id="login-submit" value="Login">
                </form>
                </div>
                <ul class="login-response" id="login-response"></ul>
            </section>
            <section class="login-subtext-container">
                <div class="login-subtext">
                    <button class="link-button" id="switch-to-create-user">Create User</button>
                </div>
            </section>
        </div>
        <div id="create-div" class="create-div">
            <section class="create-container">
                <div class="create">
                    <h1>API Test Suite</h1>
                    <form>
                        <input type="text" id="create-username-input" value="" placeholder="Username">
                        <input type="text" id="create-email-input" value="" placeholder="Email Address">
                        <input type="password" id="create-password-input" value="" placeholder="Password">
                        <input type="password" id="create-confirm-input" value="" placeholder="Confirm Password">
                        <input type="submit" id="request-access-submit" value="Create User">
                    </form>
                </div>
                <ul class="create-response" id="create-response"></ul>
            </section>
            <section class="create-subtext-container">
                <div class="create-subtext">
                    <button class="link-button" id="switch-to-login">Return to Login</button>
                </div>
            </section>
        </div>
	</body>
</html>