body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  background-color: #222;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.login-container {
  padding: 15% 0 20px 0;
}

.create-container {
  padding: 10% 0 20px 0;
}

.link-button {
  background: none!important;
  border: none; 
  padding: 0!important;
  color: #FF9900;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.link-button:hover {
  color: #ccc;
}

.login,
.create {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 280px;
  background: #fff;
}

.login > h1,
.create > h1 {
  margin: -20px -20px 20px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
  background: #FF9900;
}

.login > form > input[type=text],
.login > form > input[type=password],
.create > form > input[type=text],
.create > form > input[type=password] {
  margin: 0px 4px 8px 4px;
  width: 80%;
}

.login > form > input[type=submit],
.create > form > input[type=submit] {
  padding: 4px 20px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  width: 40%;
  margin: 6px;
}

.login > form > input[type=submit]:hover,
.create > form > input[type=submit]:hover {
  padding: 4px 20px;
  border: 0 none;
  cursor: pointer;
  color: #303030;
  background: #FF9900;
}

.login-response,
.create-response {
  background-color: #303030;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 20px;
  max-height: 0px;
  color: #FF9900;
  font-weight: bold;
  overflow-y: hidden;
  /* transition-property: all; */
	transition-duration: 0.00s;
  transition-timing-function: linear;
  list-style-type: none;
}

.slide-down {
  max-height: 100px;
  padding: 8px 20px;
  transition-duration: 0.30s;
}

.login-div {
  display: block;
}

.create-div {
  display: none;
}

.login-subtext,
.create-subtext {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 200px;
}